@tailwind base;
@tailwind components;
@tailwind utilities;


.slider {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7))
  }
}

.animation-circle {
  animation: spin 11000ms linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.slide {
  transition: transform 0.3s ease-in-out;
}

.slide:hover {
  transform: scale(1.05);
}

@media (max-width:1560px) {
  .slick-prev {
    left: -0.5rem !important;
  }

}

@media (max-width:1560px) {
  .slick-next {
    right: 0.5rem;
  }
}